<div ng-app="app">
  {{ 1 + 1 }}
  <h1>Interesting People</h1>
  <div ng-controller="peopleCtrl">
    <div ng-repeat="person in people track by $index">
      <h2 ng-click="toggleBio(person)">{{ person.name }}</h2>
      <div ng-class="{strike: person.bioVisible}">
        <h4>{{ person.bio }}</h4>
        <p ng-click="deletePerson($index)">Delete</p>
      </div>
    </div>

    <div class="form">
      <input type="text" ng-model="formName" placeholder="Person's Name">
      <input type="text" ng-model="formBio" placeholder="Bio">
      <button ng-click="addPerson(formName, formBio)">Submit</button>
    </div>

    <div>
      <p>Number of People: {{ people.length }}</p>
    </div>
  </div>
</div>