<div ng-app="app">
  {{ 1 + 1 }}
  <h1>Interesting People</h1>
  <div ng-controller="peopleCtrl" ng-init="setup()">
    <input type="text" ng-model="nameFilter">
    <button ng-click="toggleOrder('name')">Order by Name</button>
    <button ng-click="toggleOrder('bio')">Order by Bio</button>
    <div ng-repeat="person in people | filter: { name: nameFilter } | orderBy: orderAttribute:descending ">
      <h2 ng-click="toggleBio(person)">{{ person.name }}</h2>
      <div ng-if="person.bioVisible">
        <h4>{{ person.bio }}</h4>
        <p ng-click="deletePerson(person)">Delete</p>
      </div>
    </div>

    <div class="form">
      <ul>
        <li ng-repeat="error in errors">{{ error }}</li>
      </ul>
      <input type="text" ng-model="formName" placeholder="Person's Name">
      <input type="text" ng-model="formBio" placeholder="Bio">
      <button ng-click="addPerson(formName, formBio)">Submit</button>
    </div>

    <div>
      <p>Number of People: {{ people.length }}</p>
    </div>
  </div>
</div> <!-- end of ng-app -->